$white: white;
$traits-background: #f4f4f4;
$container-background: #f9f9f9;
$gradient: linear-gradient(to bottom right, #d5f9ff, #20c2df);
$count-color: #525252;
$button-background: #27c4de;
$gray-font: #a5a3a3;
$black: black;
$form-background: rgb(109, 223, 94);

